@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


:root{
  --rosa-oscuro: #ED6E8D;
  --rosa-claro: #F2A3B8;
  --rosa-search: #f1c1ce; 
  --gris: #acacac;
}

html, body{
  margin: 0;
  padding: 0;
}

 *{
   box-sizing: border-box;
 }

 h1{
   font-family:  "Roboto", sans-serif;
   border-bottom: 2px solid #e6e6e6
   ;
 }