footer{
    background-color: var( --rosa-oscuro);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0vh;
    width: 100%;
    height: 60px;
}

